.red{color: #ff2c2d !important;}

  .green {
    color: #17ff2e !important; }
  
  .blue {
    color: #1b91ff !important; }
  
  .bgcover{
    background-position: center center;
   background-size: cover;
  }
  .overwhite{
    position: absolute;
    top: 25%;
    left: 40%;
  }
  .overwhite h3{
    color: white !important;
    text-shadow: 1px 1px 4px #000000;
  }

  /* animation for img-responsive */
  .flex {
    animation: resize ease 4s infinite alternate;
		display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
		margin: auto;
  }

  /* animation per space-around */

  .flex-space {
    animation: resize3 ease 4s infinite alternate;
		display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
		margin: auto;
  }
  @keyframes resize3 {
    from { transform: scale(0.9); }
    /* 50% {width: 700px;} */
    to { transform: scale(1.1); }
  }
  .flex-space img{
    width: 60%;
    height: auto;
  }
  .flex-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button{
    background-color: rgb(255, 125, 4);
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .mquery {
    animation: resize2 ease 3s infinite alternate;
		display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
		margin: auto;
	}
 .mquery{
   width: 300px;
   flex-wrap: wrap;
   border: 5px solid #777;
   padding: 2px;
   border-radius: 10px;
 }

 .mquery .item {
  flex-grow: 1;
  margin-left:10px;
  font-size: 0.8rem;
}

	.flex .item {
    flex-grow: 1 1;
    margin-left:30px;
  }
  .item img{
    border: 0px !important;
  }

 

	.flex--fixed .item {
		flex-basis: 120px;
	}
  @keyframes resize {
    from { width: 70%; }
    50% {width: 45%;}
    to { width: 20%; }
  }
  @keyframes resize2 {
    from { width: 280px; }
    /* 50% {width: 700px;} */
    to { width: 150px; }
  }

  /* .reveal .slide-background-content {
    position: absolute;
    width: 90%;
    height: 90%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  } */
